<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo is-size-4" (click)="scrollTo('hero-wrapper')">
      4 paws-in
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="toggle()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    [ngClass]="isActive === true ? 'is-active' : ' '"
    id="navbarBasicExample"
    class="navbar-menu"
  >
    <div class="navbar-start">
      <a class="navbar-item" (click)="scrollTo('o-nama-wrapper')"> O nama </a>
      <a class="navbar-item" (click)="scrollTo('musterije')">
        Naše mušterije
      </a>
      <a
        class="navbar-item"
        (click)="showModal = !showModal"
        (click)="toggle()"
      >
        Cenovnik
      </a>
      <a class="navbar-item" (click)="scrollTo('kontakt-wrapper')"> Kontakt </a>
    </div>
  </div>
</nav>
<div class="page-wrapper">
  <section>
    <div
      class="columns is-centered is-vcentered hero-wrapper"
      id="hero-wrapper"
    >
      <div class="column is-4 is-centered animate__animated animate__fadeIn">
        <img
          src="../../../../assets/LogoZumbulBezWaterabezlogoa.png"
          alt=""
          id="pavle"
        />
      </div>
      <div
        class="column hero-info is-4 is-8-tablet is-4-desktop has-text-centered is-flex is-flex-direction-column animate__animated animate__fadeIn"
      >
        <img
          src="../../../../assets/logonobackground.png"
          alt=""
          class="logo"
        />
        <div class="text mt-3">
          <h1 class="is-size-1 naslov">FOUR PAWS-IN</h1>
          <p class="is-size-3 tekst has-text-weight-light mt-5">
            Salon za negu pasa
          </p>
          <p class="is-size-3 tekst has-text-weight-light">
            gde je svaki ljubimac VIP
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="animate__animated animate__fadeIn">
    <div
      class="columns is-centered is-vcentered o-nama-wrapper"
      id="o-nama-wrapper"
    >
      <img src="../../../../assets/4paws-3.png" alt="" />
      <div class="column tekst is-text has-text-centered is-4 mt-4">
        <p class="text mb-1 is-size-5">
          Dugogodišnja ljubav i rad sa psima izrodila je ideju o otvaranju
          salona za negu pasa gde će svaki pas biti tretiran s ljubavlju i
          pažnjom kao pravi VIP GOST. Da bi vaš ljubimac bio zdrav ,
          negovan,ispunjen,srećan, pored pažnje i ljubavi koje mu pružate,
          morate zadovoljiti i njegove osnovne potrebe koje se tiču higijene,
          ujedno i užitka.Naš"4 PAWS IN" salon za negu pasa je mesto koje vašem
          ljubimcu omogućava niz usluga za njegovo bezgranično zdravlje,lepotu i
          užitak.Ukoliko ste u potrazi za idealnim mestom za vašeg ljubimca koje
          će mu pružiti kvalitetnu negu "4 PAWS IN" salon je pravo mesto za
          vas!Dovesti svog psa u salon nije samo želja da ljubimac izgleda lepo
          , već je i važan deo brige o zdravlju naših čupavih prijatelja.
        </p>
      </div>
      <div class="column is-offset-1-desktop slider">
        <image-slider *ngIf="!loading" [slides]="salonItems"></image-slider>
        <!-- <video [autoplay]="true" [muted]="true" [loop]="true">
          <source src="../../../../assets/4pawsvideo.mp4" type="video/mp4" />
        </video> -->
      </div>
      <img src="../../../../assets/4paws-3.png" alt="" />
    </div>
  </section>

  <section>
    <div class="columns musterije is-vcentered is-centered" id="musterije">
      <div class="column is-6 is-12-mobile slike-musterija">
        <gallery
          *ngIf="isMobile()"
          [items]="dogsItems"
          thumbPosition="left"
          gallerize="two"
          [thumb]="false"
        ></gallery>
        <gallery
          *ngIf="!isMobile()"
          [items]="dogsItems"
          thumbPosition="left"
          gallerize="two"
        ></gallery>
      </div>

      <!-- <div class="column is-4 is-12-mobile termini">
        <p class="is-size-2 has-text-centered" *ngIf="termini.length != 0">
          Slobodni termini
        </p>
        <div class="columns is-flex flex-column is-centered">
          <p
            class="text is-size-3 has-text-centered"
            *ngIf="termini.length == 0"
          >
            Trenutno nema slobodnih termina,za više informacija nas pozovite!
          </p>
        </div>
        <div class="termini-list" *ngIf="termini.length != 0">
          <div class="termin" *ngFor="let item of termini">
            <div class="is-flex is-justify-content-space-between">
              <p style="padding-top: 5px">{{ item.text }}</p>
              <button
                class="button is-primary js-modal-trigger"
                data-target="modalUpit"
                (click)="otvoriModal(item.text)"
              >
                Pošalji upit
              </button>
            </div>
          </div>
        </div>
      </div> -->
      <div *ngIf="showCalendar" class="calendar-wrapper column is-4 is-12-mobile is-vcentered is-centered">
        
        <div class="calendar-info">
          <h3><b> {{ viewDate | calendarDate:(view + 'ViewTitle'):'sr-LATN'|titlecase }}</b> </h3>
          <div class="month-button-wrapper">
            <button mwlCalendarPreviousView  [(viewDate)]="viewDate" [view]="view" class="button is-primary"> < </button>
            <button mwlCalendarNextView  [(viewDate)]="viewDate" [view]="view" class="button is-primary"> > </button>
              </div>
        </div>

        <mwl-calendar-month-view 
        [locale]="locale"
        [viewDate]="viewDate"
        (dayClicked)="calendarChange($event.day)"
       >
       </mwl-calendar-month-view>
      </div>
      <div *ngIf="!showCalendar" class="showcalendar-button column is-5 is-12-mobile is-vcentered is-centered"> 
        <h2 class=" text-center">Pritiskom na dugme "Prikaži kalendar",pojavljuje se kalendar i odabirom datuma prikazujete formu za upit.Izaberite datum koji vam odgovara a mi ćemo vam se u najkraćem roku javiti oko potvrde ili dogovora.</h2>
          <button (click)="setShowCalendar()" class="button is-primary mx-auto">Prikaži kalendar</button>
      </div>
    </div>
  </section>

  <section>
    <div
      class="columns kontakt-wrapper is-centered is-vcentered"
      id="kontakt-wrapper"
    >
      <div class="column is-4 kontakt is-centered is-vcentered">
        <p class="is-size-3">four paws-in</p>
        <p>Boška Buhe 32,Inđija</p>
        <p>Kontakt telefon : <a href="tel:0691205400">069 120 5400</a></p>
        <div class="icon-wrapper">
          <a
            href="https://instagram.com/fourpaws_salon_za_negu_pasa?igshid=YmMyMTA2M2Y="
            target="_blank"
          >
            <i class="fa-brands fa-instagram fa-2xl"></i>
          </a>
          <a
            href="https://www.facebook.com/profile.php?id=100085624173169"
            target="_blank"
          >
            <i class="fab fa-facebook-f fa-2xl"></i>
          </a>
          <a href="mailto: fourpaws022@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope fa-2xl"></i>
          </a>
        </div>
      </div>
      <div class="column is-4 mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1409.2136692363244!2d20.074077458274125!3d45.05684159477459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475af8ce92c04d25%3A0x778af3cdbc47d40!2sBo%C5%A1ka%20Buhe%2032%2C%20In%C4%91ija%2022320!5e0!3m2!1sen!2srs!4v1671922042794!5m2!1sen!2srs"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </section>
  <div
    class="modal animate__animated animate__fadeIn"
    id="modalCenovnik"
    [ngClass]="{ 'is-active': showModal }"
  >
    <div class="modal-background" (click)="showModal = !showModal"></div>
    <div class="modal-content">
      <p class="image is-8by3">
        <img src="../../../../assets/cenovnik.jpg" alt="" />
      </p>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="showModal = !showModal"
    ></button>
  </div>
  <div class="modal" [ngClass]="{ 'is-active': showModal2 }">
    <div class="modal-background" (click)="showModal2 = !showModal2"></div>
    <div class="modal-content animate__animated animate__fadeInUp">
      <form class="forma" [formGroup]="forma">
        <div class="field">
          <label class="label">Datum</label>
          <div class="control">
            <input class="input" type="text" formControlName="datum" />
          </div>
        </div>
        <div class="field">
          <label class="label">Vreme</label>
          <div class="control">
            <input class="input" type="time" formControlName="vreme" />
          </div>
        </div>
        <div class="field">
          <label class="label">Ime</label>
          <div class="control">
            <input class="input" type="text" formControlName="ime" />
          </div>
        </div>
        <div class="field">
          <label class="label">Kontakt telefon</label>
          <div class="control">
            <input class="input" inputmode="decimal" type="number" formControlName="kontakt" placeholder="06*1234568"/>
          </div>
        </div>
        <div class="field">
          <label class="label">Rasa psa</label>
          <div class="control">
            <input class="input" type="text" formControlName="rasa" />
          </div>
        </div>
        <div class="field">
          <label class="label">Usluga</label>
          <div class="control">
            <input class="input" type="text" formControlName="usluga" />
          </div>
        </div>
        <button class="button is-primary" (click)="sendEmail()">Pošalji</button>
        <button
          class="modal-close is-large"
          aria-label="close"
          (click)="showModal2 = false"
        ></button>
      </form>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="showModal2 = false"
    ></button>
  </div>
</div>
