<section>
  <div class="hero-wrapper columns is-centered is-vcentered">
    <div class="column is-4 is-centered">
      <img src="../../../../assets/licensed-image.jfif" alt="" id="pavle" />
    </div>
    <div
      class="column hero-info is-4 has-text-centered is-flex is-flex-direction-column"
    >
      <img src="../../../../assets/4paws-3.png" alt="" />
      <div class="text mt-6">
        <p class="is-size-1 naslov">FOUR PAWS</p>
        <p class="is-size-3 tekst has-text-weight-light">Pet grooming centar</p>
        <p class="is-size-3 tekst has-text-weight-light">
          gde je svaki ljubimac VIP
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="o-nama-wrapper columns is-centered is-vcentered">
    <div class="tekst is-text has-text-centered">
      <p class="is-size-2">O NAMA</p>
      <p class="is-size-3">OVDE IDE KRATAK TEKST O SALONU</p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo impedit
      magnam sequi laudantium cumque dolorum. Dolorem ipsa expedita saepe
      incidunt? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo
      impedit magnam sequi laudantium cumque dolorum. Dolorem ipsa expedita
      saepe incidunt? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Illo impedit magnam sequi laudantium cumque dolorum. Dolorem ipsa expedita
      saepe incidunt? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Illo impedit magnam sequi laudantium cumque dolorum. Dolorem ipsa expedita
      saepe incidunt?
    </div>
  </div>
</section>

<section>
  <div class="columns musterije is-flex-direction-column is-vcentered">
    <div class="columns mt-3">
      <p class="is-size-2">NASE ZADOVOLJNE MUSTERIJE</p>
    </div>
    <div class="columns slike-musterija">
      <img src="../../../../assets/1.webp" alt="Placeholder image" />
      <img src="../../../../assets/2.jpg" alt="Placeholder image" />
      <img src="../../../../assets/3.jpg" alt="Placeholder image" />

      <img src="../../../../assets/4.jpg" alt="Placeholder image" />
    </div>
  </div>
</section>
<section>
  <div
    class="columns usluge-wrapper is-centered is-flex-direction-column is-vcentered"
  >
    <p class="is-size-2">NASE USLUGE</p>
    <div class="column is-6 is-centered">
      <table class="table is-fullwidth">
        <thead>
          <th>USLUGA</th>
          <th>CENA</th>
        </thead>
        <tr>
          <td>PRANJE</td>
          <td>1000 din</td>
        </tr>
        <tr>
          <td>PRANJE</td>
          <td>1000 din</td>
        </tr>
        <tr>
          <td>PRANJE</td>
          <td>1000 din</td>
        </tr>
        <tr>
          <td>PRANJE</td>
          <td>1000 din</td>
        </tr>
        <tr>
          <td>PRANJE</td>
          <td>1000 din</td>
        </tr>
      </table>
    </div>
  </div>
</section>
<section>
  <div class="columns kontakt-wrapper is-centered is-vcentered">
    <div class="column is-4 is-centered is-vcentered">
      <p>4 paws</p>
      <p>BOSKA BUHE 32</p>
      <p>Kontakt telefon : 0655578974</p>
    </div>
    <div class="column is-4"></div>
  </div>
</section>
