<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item"> 4PAWS </a>
    <!-- 
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true">O nama </span>
      <span aria-hidden="true">Usluge</span>
      <span aria-hidden="true">Nase musterije</span>
      <span aria-hidden="true">Kontakt i zakazivanje</span>
    </a> -->
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"> O nama </a>
      <a class="navbar-item"> Usluge </a>
      <a class="navbar-item"> Nase musterije </a>
      <a class="navbar-item"> Kontakt i zakazivanje </a>
    </div>
  </div>
</nav>
